html {
    font-size: 62.5%;
    scroll-behavior: smooth;
        body {
	        font-family: 'Lato', sans-serif;
            font-size: 1.4rem;
            background-color: #F0F7F4;
                article {
                    margin-bottom: 10px;
                    margin-top: 10px;
                }
                h1 {
                    font-family: 'Alegreya Sans SC', sans-serif;
                    font-style: italic;
                    font-weight: 300;
                    font-size: 3rem;
                    color: #6a0f49;
                    text-shadow: 1px 1px 2px;
                    text-align: center;
                }
                %h2 {
                    font-family: 'Alegreya Sans SC', sans-serif;
                    font-size: 2.5rem;
                }
                %h3 {
                    font-family: 'Lato', sans-serif;
                    text-transform: uppercase;
                    font-size: 1.5rem;
                    text-shadow: 2px 2px 4px;
                }
                .article__h2--violeta {
                    @extend %h2;
                    color: #A569BD;
                }
                .article__h2--verde {
                    @extend %h2;
                    color: #73C6B6;
                }
                .article__h3--lila {
                    @extend %h3;
                    color: #D2B4DE;
                }
                .div__h2--verde {
                    color: #75c9c8;
                    font-family: 'Lato', sans-serif;
                    text-transform: uppercase;
                    font-size: 1.5rem;
                    text-shadow: 2px 2px 4px;
                }
                %div__h2--verde {
                    color: #75c9c8;
                    font-family: 'Lato', sans-serif;
                    text-transform: uppercase;
                    font-size: 1.5rem;
                    text-shadow: 2px 2px 4px;
                }
                p {
                    color: #566573;
                    line-height: 2rem;
                    text-align: justify;
                }
                div {
                    box-sizing: border-box;
                    padding: 5px 20px 5px 20px;
                }
                header {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    background-color: #E0B1CB;
                    border-top: 1px solid #6a0f49;
                    font-size: 1.5rem;
                    height: 100px;
                        nav {
                            width: 100%;
                            margin: 10px auto;
                            background-color: #E0B1CB; 
                                .header__logo {
                                    background-color: #E0B1CB;
                                    box-sizing: border-box;
                                    margin-left: 10px;
                                    flex-grow: 1;
                                    align-self: center;
                                }
                                #navbarSupportedContent {
                                    background-color: #E0B1CB;
                                }
                                .navbar-toggler {
                                    color: #6a0f49;
                                    border-color: #6a0f49;
                                }
                                .nav__menu li {
                                    display: inline-block;
                                    position: relative;
                                    background-color: #E0B1CB;
                                }
                                .nav__menu li a {
                                    display: block;
                                    padding: 20px 30px;
                                    text-decoration: none;
                                }
                                .nav__submenu {
                                    position: absolute;
                                    z-index: 1;
                                    font-family:  'Alegreya Sans SC', sans-serif;
                                    font-weight: lighter;
                                    font-style: italic;
                                    font-size: 1.3rem;
                                    display: none;
                                    text-align: left;
                                    margin: 0;
                                    padding: 0;
                                    background-color: #ebcddd;
                                }
                                .nav__submenu a {
                                    background-color: #ebcddd;
                                    display: block;
                                    width: 100%;
                                    padding-right: 30px;
                                    padding-bottom: 20px;
                                    text-decoration: none;
                                    text-align: left;
                                    border-bottom: solid 1px #7E5A9B;
                                }
                                .nav__menu li:hover .nav__submenu {
                                    display: block;
                                }
                                .nav__submenu a:hover {
                                    background-color: #c9ffe2;
                                    color: #9B59B6;
                                }
                                ul li {
                                    list-style: none;
                                }
                                a:link {
                                    text-decoration: none;
                                    text-transform: uppercase;
                                    color: #6a0f49;
                                }
                                a:visited {
                                    color: #6a0f49;
                                }
                                a:hover {
                                    color: #c9ffe2;
                                }
                        }
                }
                .div__h1--gradient {
                    background-image: linear-gradient(to bottom left, rgba(224, 177, 203, 0), 
                    rgba(224, 177, 203, 1));
                    border-top: 1px solid #6a0f49;
                    border-bottom: 1px solid #6a0f49;
                }
                button {
                    border-radius: 4px;
                    font-size: 1rem;
                    font-family: 'Lato', sans-serif;
                    background-color: #F0F7F4;
                    border-color:#6a0f49;
                }
                .article__button--scale {
                    transition-duration: 0.5s;
                    padding: 5px 5px;
                    border-radius: 4px;
                    font-size: 1rem;
                    font-family: 'Lato', sans-serif;
                    background-color: #F0F7F4;
                    border-color:#6a0f49;
                        &:hover {
                            transform: scale(1.05,1.05);
                            background-color: #D2B4DE;
                            padding: 10px 10px;
                        }
                }
                .article__button--scaleverde {
                    transition-duration: 0.5s;
                    padding: 5px 5px;
                    border-radius: 4px;
                    font-size: 1rem;
                    font-family: 'Lato', sans-serif;
                    background-color: #F0F7F4;
                    border-color:#6a0f49;
                        &:hover {
                            transform: scale(1.05,1.05);
                            background-color: #73C6B6;
                            padding: 10px 10px;
                        }
                }
                main .main__index {
                    padding-right: 0px;
                    padding-left: 0px;
                }
                #carouselExampleIndicators {
                    padding: 0px;
                }
                .carousel-inner {
                    padding: 0px;
                }
                .carousel-item {
                    padding: 0px;
                }
                .main__p {
                    color: #FFFFFF;
                    font-size: 1.5rem;
                    text-align: center;
                }
                .main__h3 {
                    @extend %h3;
                    color: #FFFFFF;
                }
                .main__h3--black {
                    @extend %h3;
                    color: #FFFFFF;
                }
                .main__button {
                    background-color: #D2B4DE;
                    border-color: #D2B4DE;
                    border-radius: 4px;
                    font-size: 1rem;
                    font-family: 'Lato', sans-serif;
                }
                .div__certificaciones {
                    box-sizing: border-box;
                    padding-top: 10px;
                    border-top: 1px solid #6a0f49;
                }
                .div__practicas {
                    box-sizing: border-box;
                    padding-top: 10px;
                    border-top: 1px solid #6a0f49;
                        .div__p--margin {
                            margin-right: 5px;
                            padding-left: 0px;
                        }
                }
                .main__h2--black {
                    font-family: 'Lato', sans-serif;
                    color: #424242;
                    text-transform: none;
                    font-size: 1.5rem;
                }
                table {
                    border-color: #566573;
                    border-style: solid;
                    border-collapse: collapse;
                    margin-bottom: 20px;
                    margin-left: 10px;
                        tr:hover {
                            background-color: #EBDEF0;
                        }
                        th {
                            background-color: #BDC3C7;
                            text-align: center;
                            padding: 10px;
                        }
                        td {
                            text-align: left;
                            padding: 10px;
                        }
                }
                .article__p--destacado {
                    font-weight: bold;
                    font-style: italic;
                }
                .div__main--borde {
                    box-sizing: border-box;
                    margin-bottom: 20px;
                    margin-top: 20px;
                    border-bottom: 1px solid #6a0f49;
                }
                .body__div--borde {
                    box-sizing: border-box;
                    border-top: 1px solid #6a0f49;
                }   
                .div__videos {
                    border-top: 1px solid #6a0f49;
                }
                .section__iframe--center {
                    display: flex;
                    align-items: center;
                    width: 100%;
                }
                .div__main--sobremi {
                    box-sizing: border-box;
                    padding-top: 20px;
                    padding-left: 40px;
                        .main__img--width {
                            width: 300px;
                            height: auto;
                            box-sizing: border-box;
                            padding-right: 10%;
                        }
                        .div__h2--margin {
                            @extend %div__h2--verde;
                            margin-top: 20px;
                        }
                }
                .main__p--margin {
                    width: 80%;
                    height: auto;
                    margin-left: 0px;
                    padding-left: 0px;
                    margin-top: 20px;
                    padding-bottom: 0px;
                }
                .section__div--disciplinas {
                    margin-top: 20px;
                    border-top: 1px solid #6a0f49;
                        .div__h3--verde {
                            color: #75c9c8;
                            font-family: 'Lato', sans-serif;
                            text-transform: uppercase;
                            font-size: 1.2rem;
                            text-align: left;
                        }
                        .ul__li--lila {
                            list-style-image: url("../Multimedia/Flor-de-loto-20px.png");
                            font-size: 1.3rem;
                            font-style: italic;
                            color: #D2B4DE;
                            background-color: #F0F7F4;
                        }
                }
                .practicas__descripcion {   
                    margin-top: 20px;
                    padding-left: 0px;
                    width: 90%;
                }
                .div__section--contacto {
                    margin-bottom: 20px;
                        .form__input--boton {
                            margin-top: 10px;
                                &:hover {
                                    background-color: #ebcddd;
                                    color: #6a0f49;
                                }
                        }
                }        
                footer {
                    height: 80px;
                    font-size: 1.2rem;
                    background-color: #E0B1CB;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    box-sizing: border-box;
                    padding: 15px;
                    border-top: 1px solid #6a0f49;
                    border-bottom: 1px solid #6a0f49;
                        .footer__img--display {
                            background-color: #E0B1CB;
                            display: flex;
                            width: 20%;
                            justify-content: space-around;
                                img {
                                    width: 40px;
                                    height: auto;
                                }
                        }
                        ul li {
                            list-style: none;
                        }
                        a:link {
                            text-decoration: none;
                            text-transform: uppercase;
                            color: #6a0f49;
                        }
                        a:visited {
                            color: #6a0f49;
                        }
                        a:hover {
                            color: #c9ffe2;
                        }
                }
                @media only screen and (min-width: 1024px)
                {
                    .carousel-inner .carousel-item img {
                        height: 450px;
                    }
                    .nav__menu {
                        height: 50px;
                        font-size: 1.1rem;
                        display: flex;
                        justify-content: space-between;
                    }
                    iframe {
                        width: 100%;
                        height: 350px;
                    }
                    .main__p--margin {
                        width: 90%;
                        height: auto;
                    }
                }
                @media only screen and (max-width:576px)
                {
                    .article__div--borde {
                        border-bottom: 1px solid #6a0f49;
                    }
                    .div__main--borde {
                        display: none;
                    }
                    .body__div--borde {
                        border-top: 1px solid #F0F7F4 !important;
                    }
                    h1 {
                        font-size: 1.8rem;
                    }
                    .main__h2--black {
                        font-size: 1rem;
                    }
                }
                @media only screen and (max-width:768px) 
                {
                    p {
                        font-size: 1.2rem;
                    }
                    button {
                        padding: 0;
                        font-size: 1rem;
                    }
                    footer {
                        font-size: 1rem;
                    }
                    .footer__img--display img {
                        padding-right: 5px;
                    }
                    iframe {
                        width: 100%;
                        height: 300px;
                    }
                    table {
                        font-size: 1rem;
                    }
                    form {
                        font-size: 1rem;
                    }
                    nav {
                        font-size: 1rem;
                    }
                    .header__logo {
                        width: 100px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                    }
                    #navbarSupportedContent {
                        position: absolute;
                        z-index: 1;
                    }
                    .nav__submenu a {
                        font-size: 1rem;
                    }
                   
                    .main__p {
                        font-size: 1rem;
                        line-height: 1.1;
                    }
                    .main__h3 {
                        font-size: 1rem;
                        line-height: 1.1;
                    }
                    .main__h3--black {
                        font-size: 1rem;
                        color: #566573 !important;
                        text-shadow: 2px 2px 4px;
                    }
                    .main__button {
                        font-size: 1rem;
                    }
                    .article__h2--violeta {
                        font-size: 1.4rem;
                    }
                    .article__h2--verde {
                        font-size: 1.4rem;
                    }
                    .article__h3--lila {
                        font-size: 1.3rem;
                    }
                    .div__certificaciones {
                        box-sizing: border-box;
                        padding-left: 0px;
                    }
                    .div__practicas {
                        box-sizing: border-box;
                        padding-left: 0px;
                    }
                    article .article__h3--lila {
                        margin-left: 10px;
                    }
                }
        }
} 